params {
  input_dir = "data"
  resource_cpus = 1
  resource_memory = 1
  resource_disk = 8
  input = ""
  outdir = ""
}

profiles {
  production {
    params.outdir = "/home/defrondevillec/nextflow/output"
    params.input = "/home/defrondevillec/nextflow/data"
  }
}

process {
  cpus = params.resource_cpus
  memory = "${params.resource_memory} GB"
  disk = "${params.resource_disk} GB"
  
  withLabel: docker_core {
    container = "762199590769.dkr.ecr.us-east-1.amazonaws.com/ubuntu:latest"
  }
}

docker {
  enabled = true
}
